{extends file='basic.html'}
{block name='title'}VIM基础{/block}
{block name='body'}
<h3>简介</h3><br/>
<p>
Vim是Linux系统默认的编辑器，也是基于Linux的软件工程师必须掌握的一款高效编辑器.<br/><br/>
自带简易教程：
<pre><code>vimtutor</code></pre>
<br/></p>

<h3>基础教程</h3><br/>
<p>
<a href='basic.html'>Vim起步</a><br/>
<a href='mode.html'>Vim四种模式</a><br/>
<a href='mode-insert.html'>Vim插入模式</a><br/>
<a href='mode-normal-move.html'>Vim正常模式之移动</a><br/>
<a href='mode-normal-copy.html'>Vim正常模式之拷贝和粘贴</a><br/>
<a href='mode-normal-delete.html'>Vim正常模式之删除</a><br/>
<a href='mode-normal-find.html'>Vim正常模式之查找</a><br/>
<a href='mode-normal-other.html'>Vim正常模式之其余命令</a><br/>
<a href='mode-command-find.html'>Vim命令模式之查找和替换</a><br/>
<a href='mode-command-other.html'>Vim命令模式之其他命令</a><br/>
<a href='mode-visual.html'>Vim可视模式</a><br/>
<a href='multi-files.html'>Vim多文件操作</a><br/>
<a href='vimrc.html'>Vim环境配置</a><br/>
<br/></p>
{/block}
