{extends file='basic.html'}
{block name='title'}VIM正常模式之移动{/block}
{block name='body'}
    <table class="table">
        <thead>
            <tr>
                <th>命令</th>
                <th>意义</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>j，k，h，l</td>
                <td>下，上，左，右</td>
            </tr>
            <tr>
                <td>down，up，left，right</td>
                <td>下，上，左，右</td>
            </tr>
            <tr>
                <td>Ctrl+f，Ctrl+b，Ctrl+d，Ctrl+u</td>
                <td>向下翻页，向上翻页，向下半页，向上半页</td>
            </tr>
            <tr>
                <td>gg，G，10G</td>
                <td>第一行开头，最后一行开头，第10行开头</td>
            </tr>
            <tr>
                <td>0，$，^，3$</td>
                <td>当前行开头，当前行末尾，本行第一个非空白字符，后面第3行末尾</td>
            </tr>
            <tr>
                <td>w，b，e，ge</td>
                <td>下一个单词开头，上一个单词开头，下一个单词末尾，上一个单词末尾</td>
            </tr>
        </tbody>
    </table>
{/block}
