{extends file='basic.html'}
{block name='title'}Shell查看文本文件内容{/block}
{block name='body'}
<table class='table'>
    <thead>
        <th>命令</th>
        <th>功能</th>
    </thead>
    <tbody>
        <tr>
            <td>PageUp或b</td>
            <td>后翻一页</td>
        </tr>
        <tr>
            <td>PageDown或Spacebar</td>
            <td>前翻一页</td>
        </tr>
        <tr>
            <td>G</td>
            <td>文件末尾<td>
        </tr>
        <tr>
            <td>g</td>
            <td>文件开头<td>
        </tr>
        <tr>
            <td>/</td>
            <td>查找指定字符串<td>
        </tr>
        <tr>
            <td>h</td>
            <td>显示帮助<td>
        </tr>
        <tr>
            <td>q</td>
            <td>退出less<td>
        </tr>
    </tbody>
</table>
{/block}
