{extends file='basic.html'}
{block name='title'}Shell目录内容查询{/block}
{block name='body'}
<table class='table'>
    <thead>
        <th>选项</th>
        <th>长选项</th>
        <th>功能</th>
    </thead>
    <tbody>
        <tr>
            <td>-a</td>
            <td>--all</td>
            <td>列出所有文件，包括以.开头的文件</td>
        </tr>
        <tr>
            <td>-d</td>
            <td>--directory</td>
            <td>与-l结合，可查看目录的详情而不是目录下的内容</td>
        </tr>
        <tr>
            <td>-F</td>
            <td>--classify</td>
            <td>在每个列出的名字后加上类型指示符，目录会加/，链接会加@，可执行文件会加*</td>
        </tr>
        <tr>
            <td>-l</td>
            <td></td>
            <td>使用长格式显示结果<td>
        </tr>
        <tr>
            <td>-h</td>
            <td>--human-readable</td>
            <td>当以长格式列出时，以人们可读的方式而不是字节数来显示文件大小<td>
        </tr>
        <tr>
            <td>-r</td>
            <td>--reverse</td>
            <td>以相反的顺序显示结果。正常以字母升序排列显示结果<td>
        </tr>
        <tr>
            <td>-S</td>
            <td></td>
            <td>按文件大小排序<td>
        </tr>
        <tr>
            <td>-t</td>
            <td></td>
            <td>按修改时间排序<td>
        </tr>
    </tbody>
</table>
{/block}
