{extends file='basic.html'}
{block name='title'}Shell操作技巧{/block}
{block name='body'}
<table class='table'>
    <thead>
        <th>命令</th>
        <th>功能</th>
    </thead>
    <tbody>
        <tr>
            <td>Tab</td>
            <td>命令／目录／用户名／主机名自动补齐</td>
        </tr>
        <tr>
            <td>Ctrl+l或clear</td>
            <td>清屏</td>
        </tr>
        <tr>
            <td>up/down</td>
            <td>浏览历史记录上一条／下一条</td>
        </tr>
        <tr>
            <td>history，!10</td>
            <td>浏览历史记录列表，执行编号为10的历史命令</td>
        </tr>
        <tr>
            <td>Ctrl+r</td>
            <td>搜索历史命令</td>
        </tr>
        <tr>
            <td>Ctrl+a，Ctrl+e</td>
            <td>移动到命令行行首，移动到命令行行尾</td>
        </tr>
        <tr>
            <td>Ctrl+u，Ctrl+k，Alt+d，Alt+Backspace，Ctrl+y</td>
            <td>剪切当前位置到行首，剪切当前位置到行尾，剪切当前到字尾，剪切当前到词头，粘贴</td>
        </tr>
        <tr>
            <td>Ctrl+f/right，Ctrl+b/left</td>
            <td>向前移动1个字符，向后移动1个字符</td>
        </tr>
        <tr>
            <td>Alt+f，Alt+b</td>
            <td>向前移动1个字，向后移动1个字</td>
        </tr>
        <tr>
            <td>Ctrl+d，Ctrl+t，Alt+t</td>
            <td>删除当前字符，替换当前字符和前面字符的位置，替换当前字和前面字的位置</td>
        </tr>
        <tr>
            <td>Alt+l，Alt+u</td>
            <td>当前到字尾转为小写，当前到字尾转为大写</td>
        </tr>
    </tbody>
</table>
{/block}
